<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techsole8.marocchat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Yaaic">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.AddServerActivity"
            android:label="@string/add_server_label">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="irc" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about_label"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity
            android:name=".activity.JoinActivity"
            android:label="@string/join_label"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity
            android:name=".activity.UsersActivity"
            android:label="@string/users"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity
            android:name=".activity.AddAliasActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activity.AddChannelActivity"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity
            android:name=".activity.AddCommandsActivity"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity
            android:name=".activity.MessageActivity"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity
            android:name=".activity.UserActivity"
            android:theme="@android:style/Theme.Material.Dialog" />
        <activity
            android:name=".activity.AuthenticationActivity"
            android:theme="@android:style/Theme.Material.Dialog" />

        <service android:name=".irc.IRCService" />

        <activity
            android:name=".activity.GetGuest"
            android:theme="@style/Theme.Yaaic"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Setting">

        </activity>
    </application>

</manifest>